body{
    background-color: #3194A8;
    margin: 0;
    position: sticky;
    font-family: "terminal_land_mono_sansRg";
}

.header {
    background-color: #1B515C;
    padding: 0;
    text-align: center;
    padding: 20px 10px;
}

.body-center {  
    background-color: white;
    height: fit-content;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.profile {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 50%; 
    margin: auto; 
    display: block;
    position: relative;
    top: -120px;
    border: white solid 8px;
}

.text {
    padding: 50px;
}